@font-face {
    font-family: queensides;
    src: url(./Fonts/QueensidesLight-ZVj3l.ttf);
}

@font-face {
    font-family: roboto;
    src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap);
}

@font-face {
    font-family: open-sans;
    src: url(./Fonts/OpenSans-Light.ttf);
}

body {
    color: rgba(255, 255, 255, 0.897);
    background-color: #000000ee;

    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.navbar {
    background-color: black;
}

.main-content {
    background-color: rgb(34, 34, 34);
}

.img-wrap {
    width: 3em;
    margin-right: 1.5em;
}

.img-wrap img {
    width: 100%;
}

.nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-header {
    font-weight: 700;
}

.header-title {
    margin-right: auto;
    font-weight: 700;
}

.header-subtitle {
    font-weight: 600;
}

.facts {
    list-style: none;
}

.facts li {
    margin-bottom: 10px;
}

.facts li::before {
    content: "\2022";
    color: cyan;
    margin-right: 0.5em;
}