@font-face {
    font-family: queensides;
    src: url(./Fonts/QueensidesLight-ZVj3l.ttf);
}

@font-face {
    font-family: roboto;
    src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap);
}

@font-face {
    font-family: open-sans;
    src: url(./Fonts/OpenSans-Light.ttf);
}

body {
    color: rgba(255, 255, 255, 0.897);

    font-family: "Inter", sans-serif;
    font-weight: 400;

    margin: 0;
}

.navbar {
    background-color: black;
}

main {
    /* display: flex;
    flex-direction: row;
    align-items: center; */

    background-color: #21222a;

    padding: 20px 0px;
    padding-left: 20px;
    padding-bottom: 50px;

    background-image: url(./Images/NodeJS\ Transparent\ Logo\ 03.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: 10%;
}

.img-wrap {
    width: 3em;
    margin-right: 1em;
    margin-left: 1em;
}

.img-wrap img {
    width: 100%;
}

.nav-items {
    display: flex;
    flex-direction: row;

    align-items: center;

    background-color: black;

    padding: 30px 25px;

}

.nav-items > h1, .nav-items > h3 {
    margin: 0;
}

.main-header {
    font-weight: 700;
}

.header-title {
    margin-right: auto !important;
    color: #61dafb;

    font-weight: 700;
}

.header-subtitle {
    font-weight: 600;
    padding-right: 50px;

    color: #deebf8;
}

.facts {
    list-style: none;
    margin-top: 40px;
}

.facts li {
    /* display: flex;
    align-items: center; */

    padding-block: 8px;
}

.facts li::before {
    content: "\2022";
    font-size: 20px;

    color: #61dafb;

    margin-right: 0.5em;
}

.large-logo {
    width: 50%;
    overflow: hidden;
}

.large-logo img {
    display: block;
    width: 100%;
}