@font-face {
    font-family: queensides;
    src: url(./Fonts/QueensidesLight-ZVj3l.ttf);
}

@font-face {
    font-family: roboto;
    src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap);
}

@font-face {
    font-family: open-sans;
    src: url(./Fonts/OpenSans-Light.ttf);
}